venv/
__pycache__/
*.pyc
*.pyo
*.pyd
node_modules/
*.log
modeling/sentiment-analysis/fine-tuning-model/results/
.vscode/
*.DS_Store
modeling/sentiment-analysis/model/
data
modeling/sentiment-analysis/fine-tuning-model/data
